# **Task 1 - Binary Representations**

Notes

Optional part: Calculate how many bits set in code, bits set is number of 1s

### 1. Implement Bitwise Left Rotation (`rotl`)

In [106]:
MASK_32 = 0xFFFFFFFF  # 32-bit mask to prevent overflow

def rotl(x, n=1):
    n %= 32  # Ensures n is within 0-31
    return ((x << n) & MASK_32) | ((x & MASK_32) >> (32 - n))

#### Tests

In [107]:
test_val = 0x12345678
    
result_4 = rotl(test_val, 4)
result_0 = rotl(test_val, 0)

# Function to format binary output with leading zeros
def to_bin_str(val):
    return bin(val)[2:].zfill(32)  # Ensures it's always 32 bits long

print(f"Original:   0x{test_val:X} ({to_bin_str(test_val)})")
print(f"rotl(4):    0x{result_4:X} ({to_bin_str(result_4)})")
print(f"rotl(0):    0x{result_0:X} ({to_bin_str(result_0)})")

Original:   0x12345678 (00010010001101000101011001111000)
rotl(4):    0x23456781 (00100011010001010110011110000001)
rotl(0):    0x12345678 (00010010001101000101011001111000)

### 2. Implement Bitwise Right Rotation (`rotr`)

In [108]:
MASK_32 = 0xFFFFFFFF  # 32-bit mask to prevent overflow

def rotr(x, n=1):
    
    n %= 32  # Ensure n is within 0-31
    return ((x >> n) & MASK_32) | ((x << (32 - n)) & MASK_32)

#### Tests

In [109]:
test_val = 0x12345678 
    
result_4 = rotr(test_val, 4)
result_1 = rotr(test_val, 1)

def to_bin_str(val):
    return bin(val)[2:].zfill(32)

print(f"Original:   0x{test_val:X} ({to_bin_str(test_val)})")
print(f"rotr(4):    0x{result_4:X} ({to_bin_str(result_4)})")
print(f"rotr(1):    0x{result_1:X} ({to_bin_str(result_1)})")

Original:   0x12345678 (00010010001101000101011001111000)
rotr(4):    0x81234567 (10000001001000110100010101100111)
rotr(1):    0x91A2B3C (00001001000110100010101100111100)

### 3. Implement `ch(x, y, z)` Function

In [110]:
# Chooses bits from y where x has bits set to 1 and from z where x has bits set to 0.
def ch(x, y, z):
    return (x & y) ^ (~x & z)

#### Tests

In [111]:
# x is diferent from both y and z
x_val = 0b1010 
y_val = 0b1100
z_val = 0b1111
result = ch(x_val, y_val, z_val)
# prints result in binary, with at least 4 bits (padded with zeros if necessary).
print(f"ch(0b1010, 0b1100, 0b1111) = 0b{result:04b}")

# x is equal to y and diferent from z
x_val = 0b0000
y_val = 0b1100
z_val = 0b1111
result = ch(x_val, y_val, z_val)
# prints result in binary, with at least 4 bits (padded with zeros if necessary).
print(f"ch(0b1010, 0b1100, 0b1111) = 0b{result:04b}")

# x is equal to z and diferent from y
x_val = 0b1111
y_val = 0b1100
z_val = 0b1111
result = ch(x_val, y_val, z_val)
# prints result in binary, with at least 4 bits (padded with zeros if necessary).
print(f"ch(0b1010, 0b1100, 0b1111) = 0b{result:04b}")

ch(0b1010, 0b1100, 0b1111) = 0b1101
ch(0b1010, 0b1100, 0b1111) = 0b1111
ch(0b1010, 0b1100, 0b1111) = 0b1100

### 4. Implement `maj(x, y, z)` Function

In [112]:
# Implement a function that takes a majority vote of the bits in x, y, z.
# Each bit should be 1 if at least two of three inputs have 1 in that position.
def maj(x, y, z):
    return (x & y) ^ (x & z) ^ (y & z)

#### Tests

In [113]:
# x has a mixture of 1s and 0s
x_val = 0b1010 
y_val = 0b1100  
z_val = 0b1111 
result = maj(x_val, y_val, z_val)
# prints result in binary, with at least 4 bits (padded with zeros if necessary).
print(f"maj(0b1010, 0b1100, 0b1111) = 0b{result:04b}")

# x has all 1s
x_val = 0b1111 
y_val = 0b1100  
z_val = 0b1111 
result = maj(x_val, y_val, z_val)
# prints result in binary, with at least 4 bits (padded with zeros if necessary).
print(f"maj(0b1010, 0b1100, 0b1111) = 0b{result:04b}")

# x has all 0s
x_val = 0b0000
y_val = 0b1100
z_val = 0b1111 
result = maj(x_val, y_val, z_val)
# prints result in binary, with at least 4 bits (padded with zeros if necessary).
print(f"maj(0b1010, 0b1100, 0b1111) = 0b{result:04b}")

maj(0b1010, 0b1100, 0b1111) = 0b1110
maj(0b1010, 0b1100, 0b1111) = 0b1111
maj(0b1010, 0b1100, 0b1111) = 0b1100

# **Task 2 - Hash Functions**

### 1. Convert C Hash Function to Python

In [114]:
# Converts a string to a hash value.
def hash_function(s):

    hashValue = 0
    # Hash value updated for each character in the string
    for char in s:
        # ord() gets ASCII value of the character
        hashValue = ord(char) + 31 * hashValue
    # Ensure the hash value is within 0-100
    return hashValue % 101

#### Tests

In [115]:
test_strings = ["hello", "world", "python", "hash", "coding", "umbrella"]

for s in test_strings:
    print(f"hash({s}) = {hash_function(s)}")

hash(hello) = 17
hash(world) = 34
hash(python) = 91
hash(hash) = 15
hash(coding) = 73
hash(umbrella) = 78

### 2. Expanded Hash Function

In [116]:
def hash_function_expanded(s):
    
    hashValue = 0
    print(f"\nHashing string '{s}':")
    print("-" * 77)

    for index, char in enumerate(s):
        ascii_value = ord(char)
        print(f"Step {index + 1}: char = '{char}' with an ASCII value of {ascii_value}, previous hash was {hashValue}")
        print(f"\thash = {ascii_value} + 31 * {hashValue}")
        hashValue = ascii_value + 31 * hashValue
        print(f"\tNew hash value after processing '{char}: {hashValue}")

    final_hash_value = hashValue % 101
    print(f"\nFinal hash value after modulo 101: {final_hash_value}")
    print("-" * 77)

    return final_hash_value

#### Tests

In [117]:
test_strings = ["hello", "world", "python", "hash", "coding", "umbrella", "rust"]

for s in test_strings:
    hash_function_expanded(s)

Hashing string 'hello':
-----------------------------------------------------------------------------
Step 1: char = 'h' with an ASCII value of 104, previous hash was 0
	hash = 104 + 31 * 0
	New hash value after processing 'h: 104
Step 2: char = 'e' with an ASCII value of 101, previous hash was 104
	hash = 101 + 31 * 104
	New hash value after processing 'e: 3325
Step 3: char = 'l' with an ASCII value of 108, previous hash was 3325
	hash = 108 + 31 * 3325
	New hash value after processing 'l: 103183
Step 4: char = 'l' with an ASCII value of 108, previous hash was 103183
	hash = 108 + 31 * 103183
	New hash value after processing 'l: 3198781
Step 5: char = 'o' with an ASCII value of 111, previous hash was 3198781
	hash = 111 + 31 * 3198781
	New hash value after processing 'o: 99162322

Final hash value after modulo 101: 17
-----------------------------------------------------------------------------

Hashing string 'world':
-----------------------------------------------------------------------------
Step 1: char = 'w' with an ASCII value of 119, previous hash was 0
	hash = 119 + 31 * 0
	New hash value after processing 'w: 119
Step 2: char = 'o' with an ASCII value of 111, previous hash was 119
	hash = 111 + 31 * 119
	New hash value after processing 'o: 3800
Step 3: char = 'r' with an ASCII value of 114, previous hash was 3800
	hash = 114 + 31 * 3800
	New hash value after processing 'r: 117914
Step 4: char = 'l' with an ASCII value of 108, previous hash was 117914
	hash = 108 + 31 * 117914
	New hash value after processing 'l: 3655442
Step 5: char = 'd' with an ASCII value of 100, previous hash was 3655442
	hash = 100 + 31 * 3655442
	New hash value after processing 'd: 113318802

Final hash value after modulo 101: 34
-----------------------------------------------------------------------------

Hashing string 'python':
-----------------------------------------------------------------------------
Step 1: char = 'p' with an ASCII value of 112, previous hash was 0
	hash = 112 + 31 * 0
	New hash value after processing 'p: 112
Step 2: char = 'y' with an ASCII value of 121, previous hash was 112
	hash = 121 + 31 * 112
	New hash value after processing 'y: 3593
Step 3: char = 't' with an ASCII value of 116, previous hash was 3593
	hash = 116 + 31 * 3593
	New hash value after processing 't: 111499
Step 4: char = 'h' with an ASCII value of 104, previous hash was 111499
	hash = 104 + 31 * 111499
	New hash value after processing 'h: 3456573
Step 5: char = 'o' with an ASCII value of 111, previous hash was 3456573
	hash = 111 + 31 * 3456573
	New hash value after processing 'o: 107153874
Step 6: char = 'n' with an ASCII value of 110, previous hash was 107153874
	hash = 110 + 31 * 107153874
	New hash value after processing 'n: 3321770204

Final hash value after modulo 101: 91
-----------------------------------------------------------------------------

Hashing string 'hash':
-----------------------------------------------------------------------------
Step 1: char = 'h' with an ASCII value of 104, previous hash was 0
	hash = 104 + 31 * 0
	New hash value after processing 'h: 104
Step 2: char = 'a' with an ASCII value of 97, previous hash was 104
	hash = 97 + 31 * 104
	New hash value after processing 'a: 3321
Step 3: char = 's' with an ASCII value of 115, previous hash was 3321
	hash = 115 + 31 * 3321
	New hash value after processing 's: 103066
Step 4: char = 'h' with an ASCII value of 104, previous hash was 103066
	hash = 104 + 31 * 103066
	New hash value after processing 'h: 3195150

Final hash value after modulo 101: 15
-----------------------------------------------------------------------------

Hashing string 'coding':
-----------------------------------------------------------------------------
Step 1: char = 'c' with an ASCII value of 99, previous hash was 0
	hash = 99 + 31 * 0
	New hash value after processing 'c: 99
Step 2: char = 'o' with an ASCII value of 111, previous hash was 99
	hash = 111 + 31 * 99
	New hash value after processing 'o: 3180
Step 3: char = 'd' with an ASCII value of 100, previous hash was 3180
	hash = 100 + 31 * 3180
	New hash value after processing 'd: 98680
Step 4: char = 'i' with an ASCII value of 105, previous hash was 98680
	hash = 105 + 31 * 98680
	New hash value after processing 'i: 3059185
Step 5: char = 'n' with an ASCII value of 110, previous hash was 3059185
	hash = 110 + 31 * 3059185
	New hash value after processing 'n: 94834845
Step 6: char = 'g' with an ASCII value of 103, previous hash was 94834845
	hash = 103 + 31 * 94834845
	New hash value after processing 'g: 2939880298

Final hash value after modulo 101: 73
-----------------------------------------------------------------------------

Hashing string 'umbrella':
-----------------------------------------------------------------------------
Step 1: char = 'u' with an ASCII value of 117, previous hash was 0
	hash = 117 + 31 * 0
	New hash value after processing 'u: 117
Step 2: char = 'm' with an ASCII value of 109, previous hash was 117
	hash = 109 + 31 * 117
	New hash value after processing 'm: 3736
Step 3: char = 'b' with an ASCII value of 98, previous hash was 3736
	hash = 98 + 31 * 3736
	New hash value after processing 'b: 115914
Step 4: char = 'r' with an ASCII value of 114, previous hash was 115914
	hash = 114 + 31 * 115914
	New hash value after processing 'r: 3593448
Step 5: char = 'e' with an ASCII value of 101, previous hash was 3593448
	hash = 101 + 31 * 3593448
	New hash value after processing 'e: 111396989
Step 6: char = 'l' with an ASCII value of 108, previous hash was 111396989
	hash = 108 + 31 * 111396989
	New hash value after processing 'l: 3453306767
Step 7: char = 'l' with an ASCII value of 108, previous hash was 3453306767
	hash = 108 + 31 * 3453306767
	New hash value after processing 'l: 107052509885
Step 8: char = 'a' with an ASCII value of 97, previous hash was 107052509885
	hash = 97 + 31 * 107052509885
	New hash value after processing 'a: 3318627806532

Final hash value after modulo 101: 78
-----------------------------------------------------------------------------

Hashing string 'rust':
-----------------------------------------------------------------------------
Step 1: char = 'r' with an ASCII value of 114, previous hash was 0
	hash = 114 + 31 * 0
	New hash value after processing 'r: 114
Step 2: char = 'u' with an ASCII value of 117, previous hash was 114
	hash = 117 + 31 * 114
	New hash value after processing 'u: 3651
Step 3: char = 's' with an ASCII value of 115, previous hash was 3651
	hash = 115 + 31 * 3651
	New hash value after processing 's: 113296
Step 4: char = 't' with an ASCII value of 116, previous hash was 113296
	hash = 116 + 31 * 113296
	New hash value after processing 't: 3512292

Final hash value after modulo 101: 17
-----------------------------------------------------------------------------

### 3. Reasons For Using 31 and 101

**Why 31?**

- It is a **prime number**, this is important because it helps reduce the chance of **collisions** when hashing strings by distributing hash values more evenly accross the hash table. 

- A **collision** occurs when two different inputs produce the same hash value. 

- The multiplication using 31 makes the hash values less predictable and spread out over a wider range, minimising **clustering**.

- 31 is also a small number, reducing the likelyhood of integer overflow in C due to it having fixed sized integers (such as 32 or 64-bit). However, since this has been converted to Python this is no longer an issue as it automatically swtiches from fixed-sized intgers to arbitrary-precision integers when needed. It is still used here though to maintain consistancy between languages and to prevent performance slowdown which can still happen with extremely large numbers

- In C, multiplying by 31 can be optimised by compilers as a simple calculation it provides of **(hashval << 5) - hashval** enables the efficient use of bit-shifting and subtraction instead of pure multiplication. Once again, however, this isn't a significant issue in Python as it handles operations like multiplication and bit-shifting at a higher level so there is no significant performance difference between them.

**Why 101?**

- It is also a **prime number**, in this case used in the modulo operation to limit the hash values to be within a specific range, in this case 0 to 100.

- Similar to 31, it being a prime number helps **distribute** the hash values more evenly across this range.

- Using 101 also helps prevent the **clustering** of hash values, this can occur if the modulo base has **common factors** with the data. Examples of these factors are if the data contains patterns divisible by the modulo base. 101 **doesn't** share common factors with most data patterns, helping to greatly negate this risk.

# **Task 3 - SHA256**

## Calculate the SHA256 Padding for a Given File

### 1. Create Temporary File

In [118]:
import tempfile
import os

In [119]:
with tempfile.NamedTemporaryFile(delete=False, mode="wb") as temp_file:
    temp_file.write(b"abc")
    temp_file_path = temp_file.name

#### Tests

In [120]:
print(f"Temporary file created at: {temp_file_path}")

Temporary file created at: C:\Users\melgo\AppData\Local\Temp\tmpal74qj7w

### 2. Read Temporary File

In [121]:
with open(temp_file_path, "rb") as file:
    data = file.read()

#### Tests

In [122]:
bit_string = " ".join(f"{byte:08b}" for byte in data)
print("Binary contents of the file:", "".join(bit_string))

Binary contents of the file: 01100001 01100010 01100011

### 3. Calculate the Original Length of File Data in Bits

In [123]:
num_bytes = len(data) 
original_length_bits = num_bytes * 8

#### Tests

In [124]:
print(f"Original length in bits: {num_bytes} × 8 = {original_length_bits} (Sum of: {bit_string})")

Original length in bits: 3 × 8 = 24 (Sum of: 01100001 01100010 01100011)

### 4. Append 1 Bit (0x80) Onto End of Data

In [125]:
# Marks the end of the file data
padded_message = data + b'\x80'

#### Tests

In [126]:
print(f"After adding 1-bit: {' '.join(f'{b:08b}' for b in padded_message)}")

After adding 1-bit: 01100001 01100010 01100011 10000000

### 5. Calculate Zero Padding

In [127]:
zero_padding_length = (56 - (len(padded_message) % 64)) % 64

padded_message += b'\x00' * zero_padding_length

#### Tests

In [128]:
print(f"After zero padding: {' '.join(f'{b:08b}' for b in padded_message)}")
print(f"Padding length: {zero_padding_length} bytes")

After zero padding: 01100001 01100010 01100011 10000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000
Padding length: 52 bytes

### 6. Append the Original Message Length to End of Padded Message

In [129]:
padded_message += original_length_bits.to_bytes(8, 'big')

#### Tests

In [130]:
print(f"Final padded message: {' '.join(f'{b:08b}' for b in padded_message)}")

Final padded message: 01100001 01100010 01100011 10000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00011000

### 7. Extract and Display Only the Padding

In [131]:
padding_hex = padded_message[len(data):]

#### Tests

In [132]:
print(f"SHA-256 Padding (Hex): {' '.join(f'{b:02X}' for b in padding_hex)}")

SHA-256 Padding (Hex): 80 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 18

### 8. Delete the Temporary File

#### File Deletion Confirmation Example

In [133]:
print(f"File exists before deletion: {os.path.exists(temp_file_path)}")

try:
    os.remove(temp_file_path)

    # Check if the file still exists
    if os.path.exists(temp_file_path):
        print("\nError: File was NOT deleted!")
    else:
        print("\nTemporary file deleted successfully.")

except FileNotFoundError:
    print("\nWarning: File already deleted or does not exist.")
except Exception as e:
    print(f"\nUnexpected error: {e}")

print(f"\nFile exists after deletion: {os.path.exists(temp_file_path)}")

File exists before deletion: True

Temporary file deleted successfully.

File exists after deletion: False

#### Error Handling Example if file is not found

In [134]:
print(f"File exists before deletion: {os.path.exists(temp_file_path)}")

try:
    os.remove(temp_file_path)

    # Check if the file still exists
    if os.path.exists(temp_file_path):
        print("\nError: File was NOT deleted!")
    else:
        print("\nTemporary file deleted successfully.")

except FileNotFoundError:
    print("\nWarning: File already deleted or does not exist.")
except Exception as e:
    print(f"\nUnexpected error: {e}")

print(f"\nFile exists after deletion: {os.path.exists(temp_file_path)}")

File exists before deletion: False

Warning: File already deleted or does not exist.

File exists after deletion: False

# **Task 4 - Prime Numbers**

#### What are Prime Numbers?

- These are numbers that cannot be exactly divided (i.e. without a remainder) by any whole number other than itself and 1.

### Trial Division Algorithm

In [135]:
def is_prime(n):
    if n < 2:
        return False
    if n in (2, 3):
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

In [136]:
def first_n_primes_trial(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

#### Tests

In [137]:
primes_trial = first_n_primes_trial(1000)
print(primes_trial)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917, 6947, 6949, 6959, 6961, 6967, 6971, 6977, 6983, 6991, 6997, 7001, 7013, 7019, 7027, 7039, 7043, 7057, 7069, 7079, 7103, 7109, 7121, 7127, 7129, 7151, 7159, 7177, 7187, 7193, 7207, 7211, 7213, 7219, 7229, 7237, 7243, 7247, 7253, 7283, 7297, 7307, 7309, 7321, 7331, 7333, 7349, 7351, 7369, 7393, 7411, 7417, 7433, 7451, 7457, 7459, 7477, 7481, 7487, 7489, 7499, 7507, 7517, 7523, 7529, 7537, 7541, 7547, 7549, 7559, 7561, 7573, 7577, 7583, 7589, 7591, 7603, 7607, 7621, 7639, 7643, 7649, 7669, 7673, 7681, 7687, 7691, 7699, 7703, 7717, 7723, 7727, 7741, 7753, 7757, 7759, 7789, 7793, 7817, 7823, 7829, 7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919]

#### Explanation

- Trial Division checks if a number is prime by checking its divisibilty by smaller numbers before it.
- First, it eliminates small cases, in this case numbers less than 2 as 0 and 1 are not prime, and even numbers greater than 2 as they are not prime because they are divisible by 2.
- Next, it tests divisibility only up to the square root of the number, because if the number has a factor larger than the square root of the number, it must also have a smaller factor that will already have been found.
- It skips even numbers and only tests divisibilty by odd numbers (after elimenating 2 and 3). This is because if the number is not divisible by 2, it cannot be divisible by any larger even number, and if the number is divisible by 3 it is also not prime.
- If the number is not divisible by any of these, it is prime.
- The drawbacks of this algorithm is that even with optimisation, it is slow for very large numbers because it has to check many individual numbers. For instance, if the number is 1,000,003, all numbers up the square root of it, which is 1000, must be checked.

### Sieve of Atkin Algorithm

In [138]:
def sieve_of_atkin(limit):
    if limit < 2:
        return []

    ## Initialise the sieve and create list of False values that assumes all numbers are not prime
    sieve = [False] * (limit + 1)
    sieve[2] = sieve[3] = True

    ## Use Quadratic Equations to find potential prime numbers
    for x in range(1, int(limit**0.5) + 1):
        for y in range(1, int(limit**0.5) + 1):
            
            ## Formula 1: Checks if number is modulo 12 = 1 or 5
            n = (4 * x * x) + (y * y)
            if n <= limit and (n % 12 == 1 or n % 12 == 5):
                sieve[n] = not sieve[n]

            ## Formula 2: Checks if number is modulo 12 ≡ 7
            n = (3 * x * x) + (y * y)
            if n <= limit and n % 12 == 7:
                sieve[n] = not sieve[n]

            ## Formula 3: Checks if number is modulo 12 ≡ 11
            n = (3 * x * x) - (y * y)
            if x > y and n <= limit and n % 12 == 11:
                sieve[n] = not sieve[n]

    ## Mark all multiples of known primes as non-prime to eliminate false positives
    for num in range(5, int(limit**0.5) + 1):
        if sieve[num]:
            for multiple in range(num * num, limit + 1, num * num):
                sieve[multiple] = False

    return [num for num in range(limit + 1) if sieve[num]]

In [139]:
primes_atkin = sieve_of_atkin(8000)[:1000]
print(primes_atkin)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917, 6947, 6949, 6959, 6961, 6967, 6971, 6977, 6983, 6991, 6997, 7001, 7013, 7019, 7027, 7039, 7043, 7057, 7069, 7079, 7103, 7109, 7121, 7127, 7129, 7151, 7159, 7177, 7187, 7193, 7207, 7211, 7213, 7219, 7229, 7237, 7243, 7247, 7253, 7283, 7297, 7307, 7309, 7321, 7331, 7333, 7349, 7351, 7369, 7393, 7411, 7417, 7433, 7451, 7457, 7459, 7477, 7481, 7487, 7489, 7499, 7507, 7517, 7523, 7529, 7537, 7541, 7547, 7549, 7559, 7561, 7573, 7577, 7583, 7589, 7591, 7603, 7607, 7621, 7639, 7643, 7649, 7669, 7673, 7681, 7687, 7691, 7699, 7703, 7717, 7723, 7727, 7741, 7753, 7757, 7759, 7789, 7793, 7817, 7823, 7829, 7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919]

#### Explanation

- This is an optimised algorithm for finding all primes up to a given limit.
- Instead of checking each number individually, like Trial Division, it uses mathematical quadratic equations to mark numbers that could be prime.
- It only considers numbers as possible primes if they fit specific repeating patterns in modulo 12 arithmetic (i.e. numbers that can satisfy certain properties when divided by 12). These equations help to quickly skip unnecessary checks.
- False positives are then eliminated by removing multiples of known primes.
- When this filtering is completed, the remaining marked numbers are prime.

# **Task 5 - Roots**

In [140]:
import math
import unittest

In [141]:
def get_fractional_bits(value, bits=32):
    """Extracts the first `bits` binary digits of the fractional part of a number."""
    fractional_part = value - math.floor(value) 
    result = 0
    for i in range(bits):
        fractional_part *= 2
        bit = int(fractional_part)
        result = (result << 1) | bit
        fractional_part -= bit
    return result

In [142]:
class TestGetFractionalBits(unittest.TestCase):

    # Test that input of 0.0 returns 0 since there's no fractional part
    def test_zero(self):
        result = get_fractional_bits(0.0)
        print(f"Test Zero: Input = 0.0, Output = {result:032b}")
        self.assertEqual(result, 0)

    # Test that integer input also returns 0, as it has no fractional part
    def test_integer_input(self):
        result = get_fractional_bits(7)
        print(f"Test Integer: Input = 7, Output = {result:032b}")
        self.assertEqual(result, 0)

    # Test with 0.5 which in binary is exactly 0.1, the first bit should be 1 followed by 31 zeros
    def test_half(self):
        result = get_fractional_bits(0.5)
        expected = int('1' + '0'*31, 2)  # Expected 32-bit binary: 1000...0
        print(f"Test Half: Input = 0.5, Output = {result:032b}")
        self.assertEqual(result, expected)

    # Test with an irrational number: sqrt(2) ≈ 1.414 that it's a valid integer and within the 32-bit range
    def test_sqrt_2(self):
        value = math.sqrt(2)
        result = get_fractional_bits(value)
        print(f"Test √2: Input = {value}, Output = {result:032b}")
        self.assertIsInstance(result, int)
        self.assertLess(result, 2**32)

    # Test custom bit length: only extract 8 bits from π ≈ 3.1415 with the result should be between 0 and 255 (2^8 - 1)
    def test_custom_bits(self):
        value = math.pi
        result = get_fractional_bits(value, bits=8)
        print(f"Test π (8 bits): Input = {value}, Output = {result:08b}")
        self.assertGreaterEqual(result, 0)
        self.assertLess(result, 256)

unittest.TextTestRunner(verbosity=2).run(unittest.TestLoader().loadTestsFromTestCase(TestGetFractionalBits))

test_custom_bits (__main__.TestGetFractionalBits.test_custom_bits) ... ok
test_half (__main__.TestGetFractionalBits.test_half) ... ok
test_integer_input (__main__.TestGetFractionalBits.test_integer_input) ... ok
test_sqrt_2 (__main__.TestGetFractionalBits.test_sqrt_2) ... ok
test_zero (__main__.TestGetFractionalBits.test_zero) ... ok

----------------------------------------------------------------------
Ran 5 tests in 0.004s

OK

Test π (8 bits): Input = 3.141592653589793, Output = 00100100
Test Half: Input = 0.5, Output = 10000000000000000000000000000000
Test Integer: Input = 7, Output = 00000000000000000000000000000000
Test √2: Input = 1.4142135623730951, Output = 01101010000010011110011001100111
Test Zero: Input = 0.0, Output = 00000000000000000000000000000000

In [143]:
# Using the Atkin Sieve from task 4 to generate the first 100 prime numbers
first_100_primes = primes_atkin[:100]

In [144]:
# Compute and store the 32-bit fractional binary representation of the square roots
sqrt_fractional_bits = []
for prime in first_100_primes:
    sqrt_val = math.sqrt(prime)
    bits = get_fractional_bits(sqrt_val, bits=32)
    sqrt_fractional_bits.append(bits)

In [145]:
# Define the test class
class TestSqrtFractionalBitsExtraction(unittest.TestCase):

    def test_first_100_primes_sqrt_bits(self):
        first_100_primes = primes_trial[:100]

        print("\nStarting validation for 32-bit fractional extraction from square roots of the first 100 prime numbers...\n")

        # Compute the fractional bits
        sqrt_fractional_bits = []
        for prime in first_100_primes:
            sqrt_val = math.sqrt(prime)
            bits = get_fractional_bits(sqrt_val, bits=32)
            sqrt_fractional_bits.append(bits)

        # Test 1: Correct number of results
        self.assertEqual(len(sqrt_fractional_bits), 100)
        print("Test passed: Output list contains 100 entries.")

        # Test 2: All values are valid 32-bit integers
        for bits in sqrt_fractional_bits:
            self.assertIsInstance(bits, int)
            self.assertGreaterEqual(bits, 0)
            self.assertLess(bits, 2**32)
        print("Test passed: All entries are valid 32-bit integers.")

        # Test 3: No None or NaN values
        for bits in sqrt_fractional_bits:
            self.assertIsNotNone(bits)
            self.assertFalse(math.isnan(bits))
        print("Test passed: No None or NaN values in the output.")

        # Test 4: Deterministic output
        for prime in first_100_primes:
            sqrt_val = math.sqrt(prime)
            bits1 = get_fractional_bits(sqrt_val, bits=32)
            bits2 = get_fractional_bits(sqrt_val, bits=32)
            self.assertEqual(bits1, bits2)
        print("Test passed: Results are reproducible (deterministic).")

        print("\nAll tests completed successfully.")

unittest.TextTestRunner(verbosity=2).run(unittest.TestLoader().loadTestsFromTestCase(TestSqrtFractionalBitsExtraction))

test_first_100_primes_sqrt_bits (__main__.TestSqrtFractionalBitsExtraction.test_first_100_primes_sqrt_bits) ... ok

----------------------------------------------------------------------
Ran 1 test in 0.004s

OK

Starting validation for 32-bit fractional extraction from square roots of the first 100 prime numbers...

Test passed: Output list contains 100 entries.
Test passed: All entries are valid 32-bit integers.
Test passed: No None or NaN values in the output.
Test passed: Results are reproducible (deterministic).

All tests completed successfully.

In [146]:
import pandas as pd
import numpy as np

# Group (prime, bits) into rows of 5 pairs
pairs_per_row = 5
pairs = [(str(p), f"{b:032b}") for p, b in zip(first_100_primes, sqrt_fractional_bits)]

grouped_rows = []
for i in range(0, len(pairs), pairs_per_row):
    row = []
    for prime, bits in pairs[i:i + pairs_per_row]:
        row.extend([prime, bits])
    grouped_rows.append(row)

# Repeating column names
columns = []
for _ in range(pairs_per_row):
    columns.extend(["Prime", "Bits"])

df_clean = pd.DataFrame(grouped_rows, columns=columns)

# Apply center alignment to both headers and data using Styler
styled = df_clean.style.set_table_styles(
    [
        {"selector": "th", "props": [("text-align", "center")]},
        {"selector": "td", "props": [("text-align", "center")]}
    ]
)

# Display without index
from IPython.display import display
display(styled.hide(axis="index"))

# **Task 6 - Proof of Work**

In [147]:
import hashlib
from collections import defaultdict
import nltk
from nltk.corpus import words

nltk.download('words')

# Load English words from nltk dictionary
english_words = set(words.words())

# Store best matches
max_leading_zeros = 0
best_words = []

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\melgo\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [148]:
import unittest
from nltk.corpus import words

class TestSetup(unittest.TestCase):

    def test_words_loaded(self):
        self.assertGreater(len(words.words()), 0, "NLTK words corpus should not be empty.")
        print("Test passed: Words corpus successfully loaded.")

    def test_english_words_set(self):
        self.assertIsInstance(english_words, set, "english_words should be a set.")
        sample = next(iter(english_words))
        self.assertIsInstance(sample, str, "Each word should be a string.")
        print("Test passed: english_words is a set of strings.")

    def test_common_word_exists(self):
        self.assertIn('apple', english_words, "'apple' should be in the English word list.")
        print("Test passed: Common word 'apple' found in english_words.")

    def test_max_leading_zeros_initial(self):
        self.assertEqual(max_leading_zeros, 0, "max_leading_zeros should start at 0.")
        print("Test passed: max_leading_zeros is initialized to 0.")

    def test_best_words_initial(self):
        self.assertEqual(best_words, [], "best_words should start as an empty list.")
        print("Test passed: Best_words is initialized as an empty list.")

unittest.TextTestRunner(verbosity=2).run(unittest.TestLoader().loadTestsFromTestCase(TestSetup))

test_best_words_initial (__main__.TestSetup.test_best_words_initial) ... ok
test_common_word_exists (__main__.TestSetup.test_common_word_exists) ... ok
test_english_words_set (__main__.TestSetup.test_english_words_set) ... ok
test_max_leading_zeros_initial (__main__.TestSetup.test_max_leading_zeros_initial) ... ok
test_words_loaded (__main__.TestSetup.test_words_loaded) ... ok

----------------------------------------------------------------------
Ran 5 tests in 0.073s

OK

Test passed: Best_words is initialized as an empty list.
Test passed: Common word 'apple' found in english_words.
Test passed: english_words is a set of strings.
Test passed: max_leading_zeros is initialized to 0.
Test passed: Words corpus successfully loaded.

In [149]:
# Function to count leading zero bits in a binary string
def count_leading_zero_bits(binary_string):
    return len(binary_string) - len(binary_string.lstrip('0'))

# Process each word
for word in english_words:
    word = word.lower()
    h = hashlib.sha256(word.encode()).hexdigest() 
    b = bin(int(h, 16))[2:].zfill(256)  
    count = count_leading_zero_bits(b)

    if count > max_leading_zeros:
        max_leading_zeros = count
        best_words = [word]
    elif count == max_leading_zeros:
        best_words.append(word)

In [150]:
# Re-define the function here for testing
def count_leading_zero_bits(binary_string):
    return len(binary_string) - len(binary_string.lstrip('0'))

class TestSHA256BitAnalysis(unittest.TestCase):

    def test_leading_zero_bits_count(self):
        self.assertEqual(count_leading_zero_bits('00001111'), 4)
        self.assertEqual(count_leading_zero_bits('11111111'), 0)
        self.assertEqual(count_leading_zero_bits('00000000'), 8)
        print("Test passed: count_leading_zero_bits returns correct values.")

    def test_sha256_binary_conversion(self):
        word = 'example'
        h = hashlib.sha256(word.encode()).hexdigest()
        b = bin(int(h, 16))[2:].zfill(256)
        self.assertEqual(len(b), 256)
        self.assertTrue(all(c in '01' for c in b))
        print("Test passed: SHA-256 binary conversion produces 256-bit binary string.")

    def test_sha256_consistency(self):
        word = 'blockchain'
        h1 = hashlib.sha256(word.encode()).hexdigest()
        h2 = hashlib.sha256(word.encode()).hexdigest()
        self.assertEqual(h1, h2)
        print("Test passed: SHA-256 is deterministic for same input.")

    def test_max_leading_zero_tracking(self):
        test_words = ['aaaaa', 'zzzzz', 'hello']
        max_zeros = 0
        best = []
        for w in test_words:
            h = hashlib.sha256(w.encode()).hexdigest()
            b = bin(int(h, 16))[2:].zfill(256)
            count = count_leading_zero_bits(b)
            if count > max_zeros:
                max_zeros = count
                best = [w]
            elif count == max_zeros:
                best.append(w)
        self.assertIn(best[0], test_words)
        self.assertGreaterEqual(max_zeros, 0)
        print("Test passed: leading-zero tracking logic works correctly.")

unittest.TextTestRunner(verbosity=2).run(unittest.TestLoader().loadTestsFromTestCase(TestSHA256BitAnalysis))

test_leading_zero_bits_count (__main__.TestSHA256BitAnalysis.test_leading_zero_bits_count) ... ok
test_max_leading_zero_tracking (__main__.TestSHA256BitAnalysis.test_max_leading_zero_tracking) ... ok
test_sha256_binary_conversion (__main__.TestSHA256BitAnalysis.test_sha256_binary_conversion) ... ok
test_sha256_consistency (__main__.TestSHA256BitAnalysis.test_sha256_consistency) ... ok

----------------------------------------------------------------------
Ran 4 tests in 0.014s

OK

Test passed: count_leading_zero_bits returns correct values.
Test passed: leading-zero tracking logic works correctly.
Test passed: SHA-256 binary conversion produces 256-bit binary string.
Test passed: SHA-256 is deterministic for same input.

In [151]:
# Show results
print(f"Maximum leading zero bits: {max_leading_zeros}")
print("Word(s) with the most leading zero bits:")
for w in best_words:
    print(f"  {w}")

Maximum leading zero bits: 16
Word(s) with the most leading zero bits:
  guilefulness
  mismatchment

# **Task 7 - Turing Machines**

In [ ]:
def turing_add_one(tape):
    tape = list(tape)
    head = 0

    # Move to the end of the tape (rightmost bit)
    while head < len(tape):
        head += 1
    head -= 1

    # Perform binary addition (carry = 1)
    while head >= 0:
        if tape[head] == '0':
            tape[head] = '1'
            break
        elif tape[head] == '1':
            tape[head] = '0'
            head -= 1
        else:
            raise ValueError("Invalid symbol on tape")

    # If the carry propagates to the leftmost bit, add a new bit
    if head < 0:
        tape = ['1'] + tape

    return ''.join(tape)

In [159]:
import unittest

class TestTuringAddOne(unittest.TestCase):

    def test_turing_add_one(self):
        print("\nStarting validation for Turing Machine binary increment function...\n")

        test_cases = {
            '0':      '1',
            '1':      '10',
            '1010':   '1011',
            '111':    '1000',
            '100111': '101000',
            '000':    '001',
            '001':    '010'
        }

        # Test each case
        for binary_input, expected_output in test_cases.items():
            result = turing_add_one(binary_input)
            self.assertEqual(result, expected_output)
            print(f"Test passed: Input '{binary_input}' -> Output '{result}'")

        print("\nAll Turing Machine increment tests completed successfully.")

# Run the tests
unittest.TextTestRunner(verbosity=2).run(unittest.TestLoader().loadTestsFromTestCase(TestTuringAddOne))

test_turing_add_one (__main__.TestTuringAddOne.test_turing_add_one) ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK

Starting validation for Turing Machine binary increment function...

Test passed: Input '0' -> Output '1'
Test passed: Input '1' -> Output '10'
Test passed: Input '1010' -> Output '1011'
Test passed: Input '111' -> Output '1000'
Test passed: Input '100111' -> Output '101000'
Test passed: Input '000' -> Output '001'
Test passed: Input '001' -> Output '010'

All Turing Machine increment tests completed successfully.

In [ ]:
initial = "100111"
result = turing_add_one(initial)
print("Input Tape: ", initial)
print("Output Tape:", result)

# **Task 8 - Computational Complexity**

In [221]:
import itertools
import pandas as pd
from IPython.display import display

# Bubble sort with comparison counting
def bubble_sort_with_comparisons(arr):
    arr = list(arr)
    n = len(arr)
    comparisons = 0
    for i in range(n):
        for j in range(0, n - i - 1):
            comparisons += 1
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr, comparisons

In [222]:
# List to permute
L = [1, 2, 3, 4, 5]

# Generate and test all permutations
perms = list(itertools.permutations(L))
results = [(str(p), c, str(s)) for p, (s, c) in zip(perms, map(bubble_sort_with_comparisons, perms))]

In [ ]:
group_size = 5
rows = []
for i in range(0, len(results), group_size):
    row = []
    for j in range(group_size):
        if i + j < len(results):
            perm, comp, sorted_ = results[i + j]
            row.extend([perm, comp, sorted_])
            if j != group_size - 1:
                row.append("")
    rows.append(row)

internal_columns = []
for i in range(group_size):
    zwsp = "\u200b" * i  
    internal_columns.extend([
        f"Permutation{zwsp}",
        f"Comparisons{zwsp}",
        f"Sorted{zwsp}",
    ])
    if i != group_size - 1:
        internal_columns.append(f"Spacer_{i+1}")

df = pd.DataFrame(rows, columns=internal_columns)

# Row styling with alternating groups and black vertical spacers
def highlight_groups_with_black_line(row):
    styles = []
    group_size_with_spacer = 4
    i = 0
    while i < len(row):
        styles.extend([
            "background-color: #1e1e1e; color: white",
            "background-color: #1e1e1e; color: white",
            "background-color: #1e1e1e; color: white"
        ])
        if i + 3 < len(row):
            styles.append("background-color: black; min-width: 6px; max-width: 6px; width: 6px")
        i += group_size_with_spacer
    return styles

# Base table styles
table_styles = [
    {"selector": "th", "props": [("text-align", "center")]},
    {"selector": "td", "props": [("text-align", "center")]}
]

# Hide spacer headers
for i, col in enumerate(df.columns):
    if col.startswith("Spacer_"):
        table_styles.append({
            "selector": f"th.col{i}",
            "props": [
                ("background-color", "black"),
                ("min-width", "6px"),
                ("max-width", "6px"),
                ("width", "6px"),
                ("color", "transparent")
            ]
        })

# Apply styling
styled = df.style.set_table_styles(table_styles).apply(
    highlight_groups_with_black_line, axis=1
).hide(axis="index")

# Display the styled table
display(styled)

In [ ]:
import itertools
import pandas as pd
from IPython.display import display

# Bubble sort with comparison counting
def bubble_sort_optimised(arr):
    arr = list(arr)
    n = len(arr)
    comparisons = 0
    for i in range(n):
        swapped = False
        for j in range(n - i - 1):
            comparisons += 1
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
                swapped = True
        if not swapped:
            break
    return arr, comparisons

In [ ]:
# Generate permutations and results
L = [1, 2, 3, 4, 5]
perms = list(itertools.permutations(L))
results = [(str(p), c, str(s)) for p, (s, c) in zip(perms, map(bubble_sort_optimised, perms))]

In [ ]:
group_size = 5
rows = []
for i in range(0, len(results), group_size):
    row = []
    for j in range(group_size):
        if i + j < len(results):
            perm, comp, sorted_ = results[i + j]
            row.extend([perm, comp, sorted_])
            if j != group_size - 1:
                row.append("")
    rows.append(row)

internal_columns = []
for i in range(group_size):
    zwsp = "\u200b" * i
    internal_columns.extend([
        f"Permutation{zwsp}",
        f"Comparisons{zwsp}",
        f"Sorted{zwsp}",
    ])
    if i != group_size - 1:
        internal_columns.append(f"Spacer_{i+1}")

df = pd.DataFrame(rows, columns=internal_columns)

# Row styling with alternating group blocks and black spacers
def highlight_groups_with_black_line(row):
    styles = []
    group_size_with_spacer = 4
    i = 0
    while i < len(row):
        styles.extend([
            "background-color: #1e1e1e; color: white",
            "background-color: #1e1e1e; color: white",
            "background-color: #1e1e1e; color: white"
        ])
        if i + 3 < len(row):
            styles.append("background-color: black; min-width: 6px; max-width: 6px; width: 6px")
        i += group_size_with_spacer
    return styles

# Table-wide styling
table_styles = [
    {"selector": "th", "props": [("text-align", "center")]},
    {"selector": "td", "props": [("text-align", "center")]}
]

# Hide spacer headers
for i, col in enumerate(df.columns):
    if col.startswith("Spacer_"):
        table_styles.append({
            "selector": f"th.col{i}",
            "props": [
                ("background-color", "black"),
                ("min-width", "6px"),
                ("max-width", "6px"),
                ("width", "6px"),
                ("color", "transparent")
            ]
        })

# Style and display
styled = df.style.set_table_styles(table_styles).apply(
    highlight_groups_with_black_line, axis=1
).hide(axis="index")

display(styled)